<!DOCTYPE html>
<html lang="jp">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static\bootstrap.min.css">  

  <!-- Style-->
  <style type="text/css">
    .param {
      font-size: 100%;
    }

    .navbar{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    /* col系 */
    .col-md-6{
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 10px;
      position: absolute; 
      /* left: 33.3316%;  */
      /* top: 0px; */
    }
    .cole{
      width: 210px;
      padding-right: 5px;
      padding-left: 5px;
      padding-bottom: 10px;
    }

    /* card */
    .card-header{
      padding: 0rem;
      text-align: center;
    }

    .card-body{
      padding: 0.75rem;
      text-align: center;
      /*font-size: 150%;*/
    }

    /* 情報カード内で使うレイアウト */
    .incard{
      position: relative;
      display: flex;
      flex-direction: row;
      background-color: #303030;
    }

    .incard-header{
      background-color: #444;
      padding: 2px;
      width: 130px;
      margin-bottom: 5px;
      font-size: 15px;
      /* v-center */
      height: 40px;
      display: flex;
      align-items: center;
    }

    </style>

  <title>DigitalSignage</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
  <div id='app'>
    <nav class="navbar navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="#">Dashbord</a>
    </nav>

    <section v-if="errored">
      <p>ごめんなさい。情報を取得できません。しばらくしてからもう一度お試しください</p>
    </section>

    <section v-else>
    
    <div v-if="loading">Loading...</div>
    <div v-else>
    <div class="container">
      <div class="row" v-masonry="'containerId'" transition-duration="0.3s" item-selector=".col-md-6">
        
        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">tokei</div>
            <div class="card-body">
                <div class="incard">
                  <div class="incard-body" style="text-align: left;">
                    <span class="param"><span style="font-size: 250%;">((time))</span></br>
                    ((date))</a></span>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">amedasu</div>
            <div class="card-body">
              <div v-for="value, key in info.amedasu.result">
                <div class="incard">
                  <div class="incard-header">
                    ((value.name))
                  </div>
                  <div class="incard-body">
                    <span class="param">((value.value))((value.unit))</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">co2mini</div>
            <div class="card-body">
              <div v-for="value, key in info.co2mini.result">
                <div class="incard">
                  <div class="incard-header">
                    ((value.name))
                  </div>
                  <div class="incard-body">
                    <span class="param">((value.value))((value.unit))</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">smartplug</div>
            <div class="card-body">
              <div v-for="value, key in info.smartplug.result">
                <div class="incard">
                  <div class="incard-header">
                    ((value.name))
                  </div>
                  <div class="incard-body">
                    <span class="param">((value.value))((value.unit))</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">switchbot</div>
            <div class="card-body">
              <div v-for="value, key in info.switchbot.result">
                <div class="incard">
                  <div class="incard-header">
                    ((value.name))
                  </div>
                  <div class="incard-body">
                    <span class="param">((value.value))((value.unit))</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">yahoorss</div>
            <div class="card-body">
              <div v-for="value, key in yahoorss.yahoorss">
                <div class="incard">
                  <div class="incard-header" style="width: 30px">
                    ((key))
                  </div>
                  <div class="incard-body">
                    <span class="param">
                      <a v-bind:href=value.link>((value.title))</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">traininfo</div>
            <div class="card-body">
              <div v-for="value, key in info.traininfo.result">
                <div class="incard">
                  <div class="incard-header" style="width: 150px">
                    ((value.Name))
                  </div>
                  <div class="incard-body">
                    <span class="param">((value.Status))</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-secondary">
            <div class="card-header">Forecast</div>
            <div class="card-body">
              <table class="table">
                <tr>
                  <th> </th>
                  <td>((info.forecast.result[0].timeDefine))</th>
                  <td>((info.forecast.result[1].timeDefine))</th>
                  <td>((info.forecast.result[2].timeDefine))</th>
                </tr>
                <tr>
                  <th>天気</th>
                  <td>((info.forecast.result[0].weather))</td>
                  <td>((info.forecast.result[1].weather))</td>
                  <td>((info.forecast.result[2].weather))</td>
                </tr>
                <tr>
                  <th>降水確率</th>
                  <td>((info.forecast.result[0].pops))</td>
                  <td>((info.forecast.result[1].pops))</td>
                  <td>((info.forecast.result[2].pops))</td>
                </tr>
                <tr>
                  <th>最高</th>
                  <td>((info.forecast.result[0].tempsMax))</td>
                  <td>((info.forecast.result[1].tempsMax))</td>
                  <td>((info.forecast.result[2].tempsMax))</td>
                </tr>
                <tr>
                  <th>最低</th>
                  <td>((info.forecast.result[0].tempsMin))</td>
                  <td>((info.forecast.result[1].tempsMin))</td>
                  <td>((info.forecast.result[2].tempsMin))</td>
                </tr>
              </table>
            </div>
          </div>
        </div> 

        
      </div>
      </div>
    </div> 
      <div v-if="disconnect">
        <div class="alert alert-danger" role="alert">
          サーバーとの接続が切断されました。((errorReason))
        </div>
      </div>
    </section>
    </div>

<!--Masonry-->
<script src="https://unpkg.com/vue-masonry@0.11.3/dist/vue-masonry-plugin-window.js"></script>

  
    <script>
      Vue.config.devtools = true;

      axios.interceptors.response.use(
        function(response) {
          app.disconnect = false;
          app.errorReason = null;
          return response
        },
        function(error) {
          app.disconnect = true;
          app.errorReason = error
          return response
        }
      )
      const VueMasonryPlugin = window["vue-masonry-plugin"].VueMasonryPlugin;
      Vue.use(VueMasonryPlugin)

      var app = new Vue({
        el: '#app',
        data() {
          return {
            a: 10,
            disconnect: false,
            errorcode: null,
            time: "--:--:--",
            date:"----/--/--",
            //kokokara tukauyatu
            info: null,
            loading: true,
            errored: false,
            YahooRssTimer: 0,
            yahooRss:null
          }
        },
        watch: {
          a: function (v) {
            if (v <= 0) {
              this.a = 10;
              this.getJson();
            }
          },
          YahooRssTimer: function (v) {
            if (v <= 0) {
              this.YahooRssTimer = 60;
              this.getYahooRss();
            }
          }
        },
        methods: {
          nowtime: function () {
            var date = new Date();
            var hh = ("0"+date.getHours()).slice(-2);
            var mi = ("0"+date.getMinutes()).slice(-2);
            var ss = ("0"+date.getSeconds()).slice(-2);

            this.time = hh +":"+ mi +":"+ss;
          },
          nowdate: function () {
            var date = new Date();
            var yyyy = date.getFullYear();
            var mm   = ("0"+date.getMonth()).slice(-2);
            var dd   = ("0"+date.getDay()).slice(-2);

            this.date = yyyy +"/"+ mm +"/"+ dd;
          },
          getJson: function(){
            axios
            .get('http://127.0.0.1:5000/api/dashbord')
            .then(response => {
              this.info = response.data
              this.errored = false
            })
            .catch(error => {
              console.log(error)
              this.errored = true
            })
          },
          getYahooRss: function(){
            axios
            .get('http://127.0.0.1:5000/api/yahoorss')
            .then(response => {
              this.yahoorss = response.data
              this.errored = false
            })
            .catch(error => {
              console.log(error)
              this.errored = true
            })
          }
        },
        created: function () {
          setInterval(this.nowtime, 1000);
          setInterval(this.nowdate, 1000);
          setInterval(() => { this.a-- }, 1000);
          setInterval(() => { this.YahooRssTimer-- }, 1000);
        },
        mounted () {
          axios
            .get('http://127.0.0.1:5000/api/dashbord')
            .then(response => {
              this.info = response.data
            })
            .catch(error => {
              console.log(error)
              this.errored = true
            })
            .finally(() => this.loading = false)
          this.getYahooRss()
        },
        delimiters: ['((', '))']
      })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    


</body>

</html>